/* Media query for small screens (up to 576px) */
@media (max-width: 576px) {
  .footer-parag {
    font-family: "Caveat", cursive;
    src: url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap");
  }

  .icons {
    padding: 12px 50px 0 50px;
  }
}

/* Media query for medium screens (577px to 768px) */
@media (min-width: 577px) and (max-width: 768px) {
  .icons {
    padding-top: 30px ;
  }
}
